@model temple.Models.Users.UserForChangePassword
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>
<div id="msg"></div>
<div class="row">
    <div class="col-md-4">
        <form class="pt-3" method="post" asp-action="ChangePassword" asp-route-ReturnUrl=@Context.Request.Query["ReturnUrl"]>
            <div id="errorMsg" asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">

                <input class="form-control form-control-lg" asp-for="Username" placeholder="帳號" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input  type="password" class="form-control form-control-lg" asp-for="Password" placeholder="原密碼" />
                <span asp-validation-for="Password" type="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" asp-for="NewPassword" placeholder="新密碼" />
                <span asp-validation-for="NewPassword"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" asp-for="ConfirmNewPassword" placeholder="確認新密碼" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <div class="m-3">
                <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium">儲存</button>
            </div>

        </form>
    </div>
</div>


@section Scripts{

<script nonce="KUY8VewuvyUYVEIvEFue4vwyiuf">


    function showAlert(status, msg) {
        color = 'alert-success';
        if (status != 'True') {
            color = 'alert-danger';
            status = 'Error!';
        }
        else {
              status = 'Success!';
        }
        $('#msg').html('<div class="alert '+ color +' alert-dismissible">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
         ' <strong>'+status+'</strong> '+msg+'</div>')
     }
    var msg = '@TempData["msg"]';
    var isSuccess = '@TempData["IsSuccess"]';
    console.log("IsSuccess=" + isSuccess+ msg);
    if (msg != '') {
        showAlert(isSuccess, msg);
    }


</script>
}