@model temple.Models.Users.UserForRecoverPW
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <meta name="viewport" content="width=device-width" />
    <title>重設密碼</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- End Required meta tags -->
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
      <input id="msg" hidden value="@TempData["msg"]" />

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="~/images/logo.svg">
                            </div>
                            <h4 class="text-center">濟福寺景德祠</h4>
                        
                            <form class="pt-3" method="post" asp-action="ResetPassword" asp-route-ReturnUrl=@Context.Request.Query["ReturnUrl"]>
                                <div id="errorMsg" asp-validation-summary="All" class="text-danger"></div>
                                <input hidden asp-for=@Model.id />
                                <input hidden asp-for=@Model.token>
                                <div class="form-group">

                                    <input class="form-control form-control-lg" type="password" asp-for="newPassword" placeholder="新密碼" />
                                    <span asp-validation-for="newPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">

                                    <input  class="form-control form-control-lg" type="password" asp-for="ConfirmNewPassword" placeholder="確認密碼" />
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium">送出</button>
                                </div>

                            </form>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/js/file-upload.js"></script>
    <!-- End custom js for this page -->
    <!--jquery ui datepicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--END jquery ui datepicker-->


    <script nonce="KUY8VewuvyUYVEIvEFue4vwyiuf">


    function showAlert(status, msg) {
        color = 'alert-success';
        if (status != 'True') {
            color = 'alert-danger';
            status = 'Error!';
        }
        else {
              status = 'Success!';
        }
        $('#msg').html('<div class="alert '+ color +' alert-dismissible">'+
          '<button type="button" class="close" data-dismiss="alert">&times;</button>'+
         ' <strong>'+status+'</strong> '+msg+'</div>')
        }
        
    var msg = '@TempData["msg"]';
    var isSuccess = '@TempData["IsSuccess"]';
    //console.log("IsSuccess=" + isSuccess+ msg);
    if (msg != '') {
        showAlert(isSuccess, msg);
    }


    </script>
</body>
</html>
