<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Info"
    internalLogFile="c:\temp\internal-nlog.txt">
  <!-- 啟用 ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- log 儲存目標 -->
  <targets>
    <!-- 儲存目標類型為 "檔案"  -->

    <target xsi:type="File" name="Auth_Log" fileName=".\logs\Auth_Log\nlog-Auth_Log-${shortdate}.log"
        layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />

    <target xsi:type="File" name="City_Log" fileName=".\logs\City_Log\nlog-City_Log-${shortdate}.log"
        layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />

    <target xsi:type="File" name="FinancialItem_Log" fileName=".\logs\FinancialItem_Log\nlog-FinancialItem_Log-${shortdate}.log"
        layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />

    <target xsi:type="File" name="FinancialRecord_Log" fileName=".\logs\FinancialRecord_Log\nlog-FinancialRecord_Log-${shortdate}.log"
        layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />

    <target xsi:type="File" name="FinancialReport_Log" fileName=".\logs\FinancialReport_Log\nlog-FinancialReport_Log-${shortdate}.log"
        layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />

    <target xsi:type="File" name="Friends_Log" fileName=".\logs\Friends_Log\nlog-Friends_Log-${shortdate}.log"
        layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />

    <target xsi:type="File" name="Member_Log" fileName=".\logs\Member_Log\nlog-Member_Log-${shortdate}.log"
     layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />
    <target xsi:type="File" name="RitualMoney_Log" fileName=".\logs\RitualMoney_Log\nlog-RitualMoney_Log-${shortdate}.log"
     layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />
    <target xsi:type="File" name="Transfer_Log" fileName=".\logs\Transfer_Log\nlog-Transfer_Log-${shortdate}.log"
     layout="${longdate}${newline}${uppercase:${level}}|${logger}${newline}${message} ${exception:format=tostring}${newline}" />
    
    <!-- 儲存目標類型為 "檔案", only own logs.並使用部份 ASP.NET core renderers 的內容 -->
    <target xsi:type="File" name="ownFile-web" fileName=".\logs\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}${newline}" />
  </targets>
  <!-- 設定 logger 名稱與 log 儲存目標的對應 -->
  <rules>
    
    <logger name="API.Controllers.AuthController" minlevel="Trace" writeTo="Auth_Log" />
    <logger name="API.Controllers.CityController" minlevel="Trace" writeTo="City_Log" />
    <logger name="API.Controllers.FinancialItemController" minlevel="Trace" writeTo="FinancialItem_Log" />
    <logger name="API.Controllers.FinancialRecordController" minlevel="Trace" writeTo="FinancialRecord_Log" />
    <logger name="API.Controllers.FinancialReportController" minlevel="Trace" writeTo="FinancialReport_Log" />
    <logger name="API.Controllers.FriendsController" minlevel="Trace" writeTo="Friends_Log" />
    <logger name="API.Controllers.MemberController" minlevel="Trace" writeTo="Member_Log" />

    <logger name="API.Controllers.RitualMoneyController" minlevel="Trace" writeTo="RitualMoney_Log" />
    <logger name="API.Controllers.TransferController" minlevel="Trace" writeTo="Transfer_Log" />
    
    <!-- 將來自於 Microsoft. assembly 的 Info 以下 (Info,Debug,Trace) log 都排除 (沒有 writeTo 就不會輸出 )-->
     <!--<logger name="Microsoft.*" maxlevel="Info" final="true" />-->
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>