@model temple.Models.FinancialRecord.FinancialRecord
@{
    ViewData["Title"] = "編輯支出紀錄";
}

    <div class="page-header">
        <h3 class="page-title">廟宇支出交易紀錄</h3>
        <input id="msg" hidden value="@TempData["msg"]" />
        @if (TempData["isSuccess"] != null)
        {
            <input id="isSuccess" hidden value="@TempData["isSuccess"].ToString()" />
        }
        <div id="msgDiv"></div>
    </div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">編輯支出紀錄</h4>
                <!-- <p class="form-title card-description">基本資料</p> -->
                <form class="forms-sample" method="post" asp-action="Edit" asp-route-Type="支出" autocomplete="off">
                    <div id="errorMsg" asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="CreateDate" hidden/>
                    <div class="row">
                        <div class="col-md-4 form-group required">
                            <label class="col-form-label" asp-for="CustomerName">廠商名稱</label>
                            <input class="form-control" asp-for="CustomerName">
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>

                        <div class="col-md-4 form-group required">
                            <label class="col-form-label" asp-for="FinancialItemId">項目</label>
                            <select class="form-control" asp-for="FinancialItemId" asp-items="@(Model.FinancialItems)">
                                <option value="">請選擇</option>
                            </select>
                            <span asp-validation-for="FinancialItemId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group required">
                            <label class="col-form-label" asp-for="Quantity">數量</label>
                            <input class="form-control" asp-for="Quantity" type="number" min="0">
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group required">
                            <label class="col-form-label" asp-for="Amount">支出金額</label>
                            <input class="form-control" asp-for="Amount">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="col-form-label" asp-for="PayType">付款方式</label>
                            <select class="form-control" asp-for="PayType">
                                <option value="現金" selected>現金</option>
                                <option value="支票">支票</option>
                            </select>
                            <span asp-validation-for="PayType" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="col-form-label" asp-for="ReturnDate">應還日期</label>
                            <input class="form-control" asp-for="ReturnDate" id="ReturnDateInput" />
                            <span asp-validation-for="ReturnDate" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="col-form-label" asp-for="Notes">備註</label>
                            <textarea class="form-control" asp-for="Notes"></textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">儲存</button>
                    <a class="btn btn-light" asp-action="GetExpenses" asp-route-Type="支出">取消</a>
                </form>
            </div>
        </div>
    </div>
</div>
